* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
}

#sidebar {
  width: 300px;
  min-height: 100vh;
  background-color: rgb(12, 67, 99);
}

#content {
  width: 100vw;
  background-color: rgb(45, 102, 136);
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 57, 90);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 57, 90);
}

h1 {
  color: white;
}

.selectableLinks {
  padding: 18px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
}

.selectableLinks span {
  color: white;
  margin-left: 12px;
  font-size: 25px;
}

#sidebar a {
  text-decoration: none;
}

/* The Tasks Buttons On Sidebar CSS Starts Here */
.task_buttons span {
  font-size: 19px;
  margin-left: 25px;
}

.task_buttons:hover {
  color: rgb(0, 122, 0);
}

.hover-box {
  position: relative;
  font-size: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.hover-box::before,
.hover-box::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 15px;
  /* Adjust this value to set the underline position */
  background-color: rgb(0, 255, 0);
  transition: width 0.3s ease;
}

.hover-box::before {
  left: 45%;
}

.hover-box::after {
  right: 45%;
}

.hover-box:hover::before,
.hover-box:hover::after {
  width: 50%;
}

/* The Tasks Buttons On Sidebar CSS Ends Here */