.contentContainer {
  text-align: center;
  margin-top: 40px;
}

.chunk {
  background-color: white;
  min-width: 400px;
  min-height: 220px;
  border-radius: 12px;
  margin: 8px;
  display: inline-block;
  text-align: left;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chunkTitle {
  padding: 11px;
  border-radius: 11px 11px 0 0;
  background-color: rgb(0, 57, 90);
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

#asgnMission {
  margin-top: 20px;
  margin-bottom: 20px;
}

#asgnMission input[type="text"]{
  display: block;
  padding: 8px 10px;
  width: 600px;
  margin: 10px;
}

#asgnMission textarea{
  display: block;
  padding: 8px 10px;
  min-width: 600px;
  max-width: 600px;
  min-height: 180px;
  margin: 10px;
  resize: none;
}

#selectUsers table {
  margin: auto;
  padding: 10px;
  font-weight: bold;
}

#selectUsers table tr td{
  margin: auto;
  padding: 10px;
}

#selectUsers table tr:nth-child(odd){
  background-color: rgb(45, 102, 136);
  color: white;
}

#selectUsers table tr:nth-child(even){
  background-color: rgb(98, 139, 163);
  color: white;
}

#selectUsers table .tblUsername {
  width: 500px;
}

#selectUsers table .tblChkbox {
  width: 60px;
  margin: auto;
}

#asgnSubmit {
  padding: 15px 30px;
  width: 280px;
  border-radius: 8px;
  background-color: rgb(0, 57, 90);
  font-weight: bolder;
  border: none;
  color: white;
}

#asgnSubmit:hover {
  background-color: rgb(7, 87, 140);
}

#updateSubmit {
  padding: 10px 30px;
  width: 380px;
  border-radius: 5px;
  background-color: rgb(0, 57, 90);
  font-weight: bolder;
  border: none;
  color: white;
  margin: 25px 0 0 10px;
}
#updateSubmit:hover {
  background-color: rgb(7, 87, 140);
}

#selectMSN {
  padding: 15px 20px;
  width: 280px;
  background-color: rgb(0, 57, 90);
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
}

#msnStatus {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#msnStatus tr td select{
  width:100px;
  padding: 5px;
  border-radius: 0px;
  margin: 0;
}

.msnStatus-i {
  width: 270px;
}

/* Modal Styles */
.custom-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}
.custom-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  text-align: center;
}
.custom-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.custom-modal-close:hover,
.custom-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;}

#msnOverviewTbl {
  padding: 15px 20px;
  margin-left: 25px;
  margin-top: 2px;
}

#msnOverviewTbl tr th {
  width: 250px;
  padding: 7px 10px;
}
#msnOverviewTbl tr td {
  width: 60px;
  text-align: center;
}
#msnOverviewTbl tr:nth-child(odd) {
  background-color: rgb(45, 102, 136);
  color: white;
}
#msnOverviewTbl tr:nth-child(even) {
  background-color: rgb(98, 139, 163);
  color: white;
}

#msnAssignedTbl {
  padding: 15px 20px;
  margin-left: 5px;
  margin-top: 2px;
}

#msnAssignedTbl tr th:first-child {
  width: 20px;
  padding: 7px 10px;
}
#msnAssignedTbl tr th:nth-child(2) {
  width: 250px;
  padding: 7px 10px;
}
#msnAssignedTbl tr th:nth-child(3) {
  width: 50px;
  padding: 7px 10px;
}
#msnAssignedTbl tr td {
  width: 60px;
  text-align: center;
  padding: 3px;
}
#msnAssignedTbl tr:nth-child(odd) {
  background-color: rgb(45, 102, 136);
  color: white;
}
#msnAssignedTbl tr:nth-child(even) {
  background-color: rgb(98, 139, 163);
  color: white;
}

#msnAssignedTbl tr td a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#msnAssignedTbl tr td a:hover {
  color: rgb(0, 57, 90);
}
