.contentContainer {
  text-align: center;
  margin-top: 40px;
}

.chunk {
  background-color: white;
  min-width: 700px;
  min-height: 220px;
  border-radius: 12px;
  margin: 8px;
  display: inline-block;
  text-align: left;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chunkTitle {
  padding: 11px;
  border-radius: 11px 11px 0 0;
  background-color: rgb(0, 57, 90);
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

table {
  width: 100%;
  padding: 20px 12px 12px 35px;
}

table th {
  font-size: 18px;
}

table th:first-child {
  width: 200px;
}